* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akshar', sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
body {
    margin: auto;
}

button {
    border-radius: 30px;
    background-color: white;
    padding: 5px 10px;
    border-width: 0;
    color: #000;
}

#btn1 {
    margin-right: 20px;
}

#btn2 {
    background-color: #000;
    color: #fff;
    width: auto;
}




/* top : navigation and title*/
.d-logo {
    text-align: left;
    line-height: 40px;
    padding-left: 5px;
}

.headerfirst {
    height: 100px;
    background-color: rgb(37, 94, 233);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

.menu {
    width: 40%;
    
}

li {
    padding: 10px;
    color: white;
}

.log {
    text-align: right;
    line-height: 40px;
    padding-right: 5px;
    color: #000;
}

.d-logo,
.log {
    width: 15%;
}

.d-logo,
.menu,
.log {
    height: 40px;
}

.container {
    background-image: url("../jumbo.png");
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

title {
    color: #fff;
    font-weight: bolder;
}

#header-paragraph {
    color: #fff;
    margin: 30px 400px 100px;
    text-align: center;
}

.btn-second {
    background-color: #000;
    color: white;
    margin-left: 5px;
}






.h-content {
    height: 400px;
}

.title-wrapper {
    padding: 0 150px 0;
}

/* sections-text n images */
.section1 {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wave {
    background-image: url("../wave.svg");
    height: 100px;
    filter: opacity(0.1);
}

.reversed {
    transform: rotateX(180deg);
}

.gray {
    background-color: rgb(229, 229, 229);
}
.reverse {
    flex-direction: row-reverse;
}
.section1.gr,
.section2.gr {
    background-color: #d3d3d3;
}

.section4container {
    text-align: center;
    background-color: lightgray;
    color: #000;
    padding-bottom: 100px;
}

.txtcolumn {
    height: 500px;
    width: 25%;
    background-color: white;
        color: #000;
        border: none;
        margin-top: 210px;
    }
    
    #2ndtitle {
        color: #000;
    
    }
    
    .section1 {
        height: 600px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
}

.section2 {
    height: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2container {
    height: 1000px;
    width: 60%;
}
.stars-wrapper {
    width: 300px;
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#btn+p {
    position: absolute;
}

.bluebtn {
    background-color: rgb(115, 137, 219);
    color: #fff;
}

#btn-4 {
    padding: 5px 20px 5px;
    margin-top: 20px;
}
/* bottom - info sign-in */
footer {
    background-color: #23272a;
    height: 700px;
    padding-top: 35px;
}


.footer1 {
    height: 550px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border-bottom: 2px solid gray;
}
.list-column {
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
}

#footer-title {
    padding-top: 15px;
    padding-bottom: 25px;
}

#bold-blue,
#footer-title {
    font-size: bold;
    color: rgb(115, 137, 219);

}
.socialicons {
    height: 500px;
    width: 20%;
}
#ita {
    display: flex;
    justify-content: left;
    align-items: center;
}
#flag-it {
    width: 10%;
}
#icons {
    width: 20px;
    margin: 5px;
}

.icon-container {
    display: flex;
    padding: 20px;
        padding-left: 0;
        justify-content: space-between;
}
.infos {
    height: 500px;
    width: 10%;
}

.footer2 {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 30px;
}

.footer2container {
    height: 90px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-logo-footer {
    height: 40px;
    width: 8%;
    line-height: 40px;
    text-align: center;
}

.sign {
    height: 40px;
    width: 10%;
    line-height: 40px;
    text-align: center;
}

/* debugz */



.imgcolumn {
    width: 50%;
}





